@font-face {
    font-family: AdobeCaslonPro-Regular;
    src: url("../assets/fonts/AdobeCaslonPro-Regular.woff2") format("woff2"), url("../assets/fonts/AdobeCaslonPro-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Graphik-Medium;
    src: url("../assets/fonts/Graphik-Medium.woff2") format("woff2"), url("../assets/fonts/Graphik-Medium.woff") format("woff"), url("../assets/fonts/Graphik-Medium.eot") format("eot");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Graphik-MediumItalic;
    src: url("../assets/fonts/Graphik-MediumItalic.woff2") format("woff2"), url("../assets/fonts/Graphik-MediumItalic.woff") format("woff"), url("../assets/fonts/Graphik-MediumItalic.eot") format("eot");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Graphik-Regular-Web;
    src: url("../assets/fonts/Graphik-Regular-Web.woff2") format("woff2"), url("../assets/fonts/Graphik-Regular-Web.woff") format("woff"), url("../assets/fonts/Graphik-Regular-Web.eot") format("eot");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: AdobeCaslonPro-Italic;
    src: url("../assets/fonts/AdobeCaslonPro-Italic.woff2") format("woff2"), url("../assets/fonts/AdobeCaslonPro-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Graphik-RegularItalic-Web;
    src: url("../assets/fonts/Graphik-RegularItalic-Web.woff2") format("woff2"), url("../assets/fonts/Graphik-RegularItalic-Web.woff") format("woff"), url("../assets/fonts/Graphik-RegularItalic-Web.eot") format("eot");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Irvin-Heading;
    src: url("../assets/fonts/Irvin-Heading.woff2") format("woff2"), url("../assets/fonts/Irvin-Heading.woff") format("woff"), url("../assets/fonts/Irvin-Heading.otf") format("otf"), url("../assets/fonts/Irvin-Heading.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Irvin-Text;
    src: url("../assets/fonts/Irvin-Text.woff2") format("woff2"), url("../assets/fonts/Irvin-Text.woff") format("woff") url("../assets/fonts/Irvin-Text.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: NeutrafaceNewYorkerWeb-SemiBold;
    src: url("../assets/fonts/NeutrafaceNewYorkerWeb-SemiBold.woff2") format("woff2"), url("../assets/fonts/NeutrafaceNewYorkerWeb-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: AdobeCaslonPro-SemiBold;
    src: url("../assets/fonts/AdobeCaslonPro-SemiBold.woff2") format("woff2"), url("../assets/fonts/AdobeCaslonPro-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: AdobeCaslonPro-SemiBoldItalic;
    src: url("../assets/fonts/AdobeCaslonPro-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/AdobeCaslonPro-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: AdobeCaslonPro-BoldItalic;
    src: url("../assets/fonts/AdobeCaslonPro-BoldItalic.woff2") format("woff2"), url("../assets/fonts/AdobeCaslonPro-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: AdobeCaslonPro-Bold;
    src: url("../assets/fonts/AdobeCaslonPro-Bold.woff2") format("woff2"), url("../assets/fonts/dobeCaslonPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body {
    padding: 0px 0px 200px;
    gap: 320px;
    isolation: isolate;
    position: relative;
    width: 1280px;
    background: #000000;
    margin: 0px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-item-1 {
    flex: none;
    order: 0;
    flex-grow: 0;
}

.flex-item-2 {
    flex: none;
    order: 1;
    flex-grow: 0;
}

.flex-item-3 {
    flex: none;
    order: 2;
    flex-grow: 0;
}

.flex-item-4 {
    flex: none;
    order: 3;
    flex-grow: 0;
}

.flex-item-5 {
    flex: none;
    order: 4;
    flex-grow: 0;
}

.opener-background {
    position: absolute;
    width: 1280.37px;
    height: 1585.57px;
    left: 0px;
    top: 0px;
    opacity: 0.9;
    z-index: -10;
}

.openerDisplay {
    position: absolute;
    width: 448px;
    height: 581px;
    left: 416px;
    top: 201px;
    padding: 48px 0px 32px;
    gap: 32px;
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inherit;
}

li {
    display: inline-block;
    position: relative;
}

.background {
    position: absolute;
    width: 1280.37px;
    height: 1585.57px;
    left: 0px;
    top: 0px;
    margin: 0px;
}

.opener {
    box-sizing: border-box;
    width: 1280px;
    height: 982px;
}

.openerIntro {
    width: 100%;
    height: 100%;
    gap: 120px;
    padding: 0px;
    z-index: 1;
}



.introBody {
    width: 968px;
    height: 1668px;
    box-sizing: border-box;
    border: 1.5px solid #FFFFFF;
    padding: 100px;
    gap: 50px;
}

.logo {
    position: absolute;
    width: 175px;
    height: 39.81px;
    left: 553px;
    top: 12px;
    margin: 0px;
}

.img-logo {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    color: #FFFFFF;
}

.spotlights {
    position: absolute;
    width: 1280px;
    height: 1538.06px;
    left: 0px;
    top: 47.51px;
    overflow: hidden;
}

.light1 {
    position: absolute;
    transform: rotate(40deg);
    z-index: 1;
    top: -550px;
    left: 200px;
}

.light2 {
    position: absolute;
    transform: rotate(-30deg);
    z-index: 1;
    top: -493px;
    right: 300px;
}

.smallhed {
    line-height: 0px;
    font-size: x-large;
}

.clouds {
    position: absolute;
    width: 1261.28px;
    height: 832.49px;
}


}

.cloud1 {
    z-index: 2;
    position: absolute;
    width: 433.23px;
    height: 280.13px;
    left: 747.1px;
    top: 206.9px;

}

.cloud2 {
    position: absolute;
    width: 944.44px;
    height: 588.79px;
    left: 19.09px;
    top: 192.63px;
    z-index: 2;
}

.cloud3 {
    position: absolute;
    width: 591.08px;
    height: 271.11px;
    left: 689.28px;
    top: 754.01px;
    z-index: 2;
}

.cloud4,
.cloud5,
.cloud6 {
    display: none;
}

.stars {
    position: absolute;
    width: 1280px;
    height: 1563.69px;
    left: 0.36px;
    top: 0px;
    z-index: 1;
}

.allstars {
    width: 100%;
}

.starsgold {
    display: none;

}

.starswhite {
    display: none;

}

.gradient {
    position: absolute;
    left: 0.36px;
    top: 0px;
    background-image: url("../assets/images/background.jpg");
    width: 1280px;
    height: 1563.69px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.byline_timestamp {
    padding: 12px 0px 8px;
    gap: 10px;

    width: 113px;
    height: 57px;
}

.byline {
    margin: 0px;
}

li {
    width: 42px;
    height: 42px;
}

.email>.icon {
    position: absolute;
    width: 16.81px;
    height: 10.47px;
    left: calc(50% - 16.81px/2 + 0.4px);
    top: calc(50% - 10.47px/2 + 0.24px);
}

.twitter>.icon {
    position: absolute;
    width: 14.94px;
    height: 11.12px;
    left: calc(50% - 14.94px/2 + 0.47px);
    top: calc(50% - 11.12px/2 - 0.44px);
}

.facebook>.icon {
    position: absolute;
    width: 5.93px;
    height: 11.97px;
    left: calc(50% - 5.93px/2 - 0.03px);
    top: calc(50% - 11.97px/2 - 0.01px);
}

.timestamp {
    margin: 0px;
}

.hed_dek_byline_timestamp {
    width: 439.79px;
    height: 447px;
    gap: 24px;
}

h5.rubric {
    font-family: Irvin-Heading;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}

h1.hed {
    font-family: 'Irvin-Heading';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 0px;
    width: 439.79px;
}

h2.dek {
    font-family: 'AdobeCaslonPro-Italic';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 342px;
    margin: 0px;
}

h3.byline {
    font-family: 'NeutrafaceNewYorkerWeb-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;

}

h6.timestamp {
    font-family: 'Graphik-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;

}

h4.title {
    width: 147px;
    height: 14px;
    font-family: 'Irvin-Heading';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;

}

article {
    font-family: 'AdobeCaslonPro-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #FFFFFF;
    width: 768px;
    align-self: stretch;

}

nav.socialmedia {
    padding: 0px;

    width: 126px;
    height: 42px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 375px) {
    body {
        gap: revert;
        width: 375px;

    }

    .light2 {
        z-index: 1;
        position: absolute;
        width: 286.1px;
        height: 1179.34px;
        right: 30px;
        top: -184px;
        transform: rotate(-18.16deg);
    }

    .hed_dek_byline_timestamp {
        gap: 24px;

        width: 227px;
        height: 366px;
    }

    h1.hed {
        font-family: 'Irvin-Heading';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 1px;
        color: #FFFFFF;
        margin: 0px;
        width: 214px;
        height: 138px;
    }

    h2.dek {
        font-family: 'AdobeCaslonPro-Italic';
        font-style: italic;
        font-weight: 400;
        font-size: 21px;
        line-height: 24px;
        text-align: center;
        color: #EAE9E9;
        width: 227px;
        height: 72px;
        margin: 0px;
    }

    .byline_timestamp {
        padding: 4px 0px;
        gap: 8px;

        width: 101px;
        height: 42px;
    }

    h3.byline {
        font-family: 'NeutrafaceNewYorkerWeb-SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        letter-spacing: revert;
        color: #EAE9E9;
        width: 101px;
        height: 14px;
    }

    h6.timestamp {
        font-family: 'Graphik-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        color: #EAE9E9;
        width: 75px;
        height: 12px;

    }

    .opener-background {
        position: absolute;
        width: 375px;
        height: 1198px;
        left: 0px;
        top: 0px;
        opacity: 0.9;
        z-index: -10;
    }

    .background {
        position: absolute;
        width: 375px;
        height: 1061px;
        left: 0px;
        top: -1px;
        margin: 0px;
    }

    .clouds {
        position: absolute;
        width: 375px;
        height: 862px;
        left: 0px;
        top: 60px;
    }

    .gradient {
        position: absolute;
        left: 0.11px;
        top: 0px;
        background-image: url("../assets/images/background.jpg");
        width: 374.89px;
        height: 812px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .opener {
        box-sizing: border-box;
        width: 375px;
        height: 738px;
        align-self: stretch;
        z-index: 1;

    }

    .openerIntro {
        width: 375px;
        height: 100%;
        gap: revert;
        padding: 0px;
        z-index: 1;
    }

    .introBody {
        width: 375px;
        height: 1146px;
        box-sizing: revert;
        border: none;
        padding: 100px 32px;
        gap: 32px;
    }

    article {
        font-family: 'AdobeCaslonPro-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 30px;
        color: #FFFFFF;
        width: 311px;
        height: 900px;
        align-self: stretch;

    }

    .openerDisplay {
        position: absolute;
        width: 311px;
        height: 509px;
        left: calc(50% - 311px/2);
        top: 152px;
        padding: 40px 32px 27px;
        gap: 32px;
        border: 1.5px solid #FFFFFF;
        box-sizing: border-box;

    }

    .clouds {
        position: absolute;
        width: 375px;
        height: 862px;
        left: 0px;
        top: 60px;
    }

    .cloud1 {
        z-index: 2;
        position: absolute;
        width: 120px;
        height: 79px;
        left: calc(50% - 120px/2 + 135.5px);
        top: 52px;

    }

    .cloud2 {
        position: absolute;
        width: 352.77px;
        height: 223px;
        left: calc(50% - 352.77px/2 - 47.11px);
        top: 0px;
        z-index: 2;
    }

    .cloud3 {
        position: absolute;
        width: 203px;
        height: 94px;
        left: calc(50% - 203px/2 + 82px);
        top: 272px;
        z-index: 2;
    }

    .cloud4 {
        position: absolute;
        width: 335px;
        height: 100px;
        left: calc(50% - 335px/2 - 101px);
        top: 388px;
    }

    .cloud5 {
        position: absolute;
        width: 158px;
        height: 71px;
        left: calc(50% - 158px/2 + 92.5px);
        top: 567px;
    }

    .cloud6 {
        display: none;
    }

    .stars {
        position: absolute;
        width: 375px;
        height: 963px;
        left: 0px;
        top: -1px;
        overflow: hidden;

    }

    .starsgold {
        position: absolute;
        width: 799px;
        height: 958px;
        left: -160px;
        top: -35px;

    }

    .starswhite {
        position: absolute;
        width: 795px;
        height: 953px;
        left: -280px;
        top: 0px;

    }

    .allstars {
        display: none;
    }

    .logo {
        position: absolute;
        width: 120px;
        height: 27.3px;
        left: calc(50% - 120px/2 + 0.5px);
        top: 12px;
        margin: 0px;
    }

    .img-logo {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;

        color: #FFFFFF;
    }

    .spotlights {
        position: absolute;
        width: 375px;
        height: 1004px;
        left: 0px;
        top: 56px;
        overflow: hidden;
    }

    .light1 {
        z-index: 1;
        position: absolute;
        width: 286.1px;
        height: 1179.34px;
        left: -61.829999999999984px;
        top: -143.89999999999998px;
        transform: rotate(35.16deg);
    }



}